.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    overflow-y: auto;
    max-height: 600px;
    padding-right: 2rem; /* Leave room for scrollbar */

    .buttons {
        display: flex;
        flex-direction: row;
        margin-left: auto;

        button {
            margin: 1rem;
        }
    }
}
