.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    background-color: rgba(38, 42, 65, 1);
    opacity: 1;
    transition: opacity 1s ease;

    .logo {
        margin-top: 50px;
        width: 86px;
        height: 86px;
    }

    .center {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 90%;
        color: white;
        font-size: 2rem;
        height: 90px;
        align-items: center;
        justify-content: space-between;

        .progress {
            display: flex;
            height: 20px;
            width: 100%;
            max-width: 600px;
            background-color: rgb(255, 255, 255);
            border-radius: 10px;

            .track {
                height: 100%;
                background-color: rgb(128, 191, 211);
                transition: width 0.5s ease-in;
                border-radius: 10px;
            }
        }
    }
}
