.coverage
.DS_Store
.idea
.vagrant
*.sql
*.sql.gz.gpg
*.box
*.pyc
jaspr/media
Cover/
dev
Makefile.info
manage_test.py
media/
jaspr/static
jaspr/staticfiles
jaspr/prod
Vagrantfile
.vscode
*.sublime-project
*.sublime-workspace
env
.mypy_cache
.ipython
.env
.envs/.local/.secrets
.envs/.local/.specific
.env.local
compose/.ssh-private-key
compose/.ssh-public-key
.python-version
htmlcov/
# fixtures_initialized is a flag to allow fixtures to be created only once on the first "up".
fixtures_initialized
staticfiles/
jaspr/settings/vm5.py
