.editIconWrapper {
}

.editIconContainer {
    max-width: 36px;
    max-height: 36px;
    width: 36px;
    height: 36px;
    background-color: rgba(51, 165, 190, 0.18);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;

    img {
        max-width: 18px;
        max-height: 18px;
    }
}
