.text {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1.25px;
    color: rgba(0, 0, 0, 1);
}

.button {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
    min-width: 166px;
    margin-top: 28px;
    padding: 8px;
    align-items: center;
    justify-content: center;
    background-color: rgba(109, 198, 210, 1);
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
