.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    background: #eaeaea;

    &.inCRP {
        background: #f0f0f0;
    }
}

.inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.back {
    height: 20px;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-right: auto;
    padding: 10px;
}

.titleControls {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin: 2.6rem 0;

    button {
        margin: 0 2rem;
    }

    .back {
        &::after {
            content: 'Back';
            visibility: hidden;
            display: flex;
            font-weight: 600;
            font-size: 1.6rem;
            padding: 8px 16px;
        }
    }
}

.title {
    color: rgba(71, 71, 71, 1);
    align-self: center;
    margin: auto;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 30px;
    justify-content: center;

    &.small {
        padding: 0 25px;
    }
}
