.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    max-width: 100vw;
    background: linear-gradient(90deg, #383c58 0%, #343245 100%);
    overflow: hidden;
    padding-top: 0;
}
