.credentials {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    width: 100%;

    .close {
        position: absolute;
        top: 13px;
        right: 22px;
        font-size: 34px;
        color: rgba(36, 36, 50, 1);
        cursor: pointer;
        user-select: none;
    }

    h3 {
        margin-top: 0;
        font-weight: normal;
        font-size: 28px;
        line-height: 20px;
        color: rgb(36, 36, 50);
    }

    label {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 18px;
        color: rgba(36, 36, 50, 1);

        input {
            height: 47px;
            margin-top: 7px;
            padding: 6px;
            background-color: rgba(216, 216, 216, 0.3);
            border-style: none;
            border-radius: 4px;
            font-size: 18px;
        }

        &:first-of-type {
            input {
                width: 391px;
            }
        }

        &:last-of-type {
            input {
                width: 227px;
            }
        }
    }

    button {
        margin-top: 15px;
    }
}
