.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    height: 44px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.02em;
    border-radius: 10px;
    border: none;
    transition: background-color 300ms ease-out, color 300ms ease-out;

    svg {
        margin-right: 8px;
        margin-left: 0;
    }

    &.primary {
        color: rgba(0, 0, 0, 1);
        background-color: rgba(124, 223, 255, 1);
        &:hover {
            background-color: rgba(169, 255, 255, 1);
        }
        &:active {
            background-color: rgba(207, 255, 255, 1);
        }
        &:disabled {
            background-color: rgba(119, 123, 141, 1);
        }

        &.dark {
            color: rgba(255, 255, 255, 1);
            background-color: rgba(17, 115, 131, 1);
            &:hover {
                background-color: rgba(15, 90, 102, 1);
            }

            &:active {
                background-color: rgba(8, 72, 83, 1);
            }
            &:disabled {
                color: rgba(77, 77, 77, 1);
                background-color: rgba(183, 183, 183, 0.3);
            }
        }
    }

    &.secondary {
        color: rgba(0, 0, 0, 1);
        background-color: rgba(209, 236, 240, 1);
        &:hover {
            background-color: rgba(178, 215, 221, 1);
        }
        &:active {
            background-color: rgba(152, 195, 202, 1);
        }
        &:disabled {
            background-color: rgba(242, 242, 242, 1);
        }

        &.dark {
            color: rgba(255, 255, 255, 1);
            background-color: rgba(30, 30, 57, 1);
            &:hover {
                background-color: rgba(15, 90, 102, 1);
            }
            &:active {
                background-color: rgba(11, 11, 25, 1);
            }
            &:disabled {
                background-color: rgba(119, 123, 141, 1);
            }
        }
    }

    &.tertiary {
        color: rgba(17, 115, 131, 1);
        background-color: rgba(255, 255, 255, 0);
        text-decoration-line: underline;
        flex-direction: row-reverse;

        svg {
            margin-left: 8px;
            margin-right: 0;
        }

        &:hover {
            background-color: rgba(17, 115, 131, 0.05);
        }
        &:active {
            background-color: rgba(17, 115, 131, 0.1);
        }
        &:disabled {
            background-color: rgba(0, 0, 0, 0);
            color: rgba(184, 188, 204, 1);
        }

        &.dark {
            color: rgba(124, 223, 255, 1);
            background-color: rgba(30, 30, 57, 0);
            &:hover {
                background-color: rgba(169, 255, 255, 0.1);
            }
            &:active {
                background-color: rgba(169, 255, 255, 0.15);
            }
            &:disabled {
                background-color: rgba(0, 0, 0, 0);
                color: rgba(127, 127, 127, 1);
            }
        }
    }
}
