.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    width: 693px;
    height: 500px;
    padding: 49px 75px;

    header {
        color: #2f344f;
        font-size: 28px;
        line-height: 36px;
        text-align: center;
    }

    p {
        font-size: 20px;
        line-height: 25px;
        letter-spacing: -0.25px;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;

        label {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 17px;
            color: rgba(47, 52, 79, 1);

            input {
                width: 100%;
                margin-top: 6px;
                padding: 0 17px;
                border: 1px solid rgba(47, 52, 79, 1);
                border-radius: 4px;
                height: 54px;
                font-weight: 600;
                font-size: 22px;
                letter-spacing: 1px;

                &:disabled {
                    border: none;
                    font-weight: 600;
                    font-size: 2rem;
                    height: 3.2rem;
                    line-height: 38px;
                    letter-spacing: 1px;
                    color: rgba(0, 0, 0, 1);
                    background-color: transparent;
                    padding: 0;
                }
            }
        }
    }

    .error {
        color: red;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
